{% extends "main/base.html" %}
{% load static %}

{% block title %}Связаться с нами{% endblock title %}

{% block content %}
{% comment %} <script src="{% static '/main/js/phone_formater.js' %}"></script> {% endcomment %}
<div class="container mt-5">
    <h2>Оставить заявку</h2>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.phone.label_tag }}
            {{ form.phone }}
            {% if form.phone.errors %}
                <div class="text-danger">{{ form.phone.errors }}</div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.email.label_tag }}
            {{ form.email }}
            {% if form.email.errors %}
                <div class="text-danger">{{ form.email.errors }}</div>
            {% endif %}
        </div>
        <div class="mb-3">
            {{ form.message.label_tag }}
            {{ form.message }}
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>
{% endblock content %}
